dataclasses==0.8
typing-extensions==4.1.1
marshmallow==3.0.0
marshmallow_dataclass[enum,union]==6.0.0
pytest==3.4.2
click==7.0
paramiko==2.7.2
patchwork==1.0.1
fabric==2.7.1
pyyaml==6.0
jsbeautifier==1.14.7
eth-utils==1.10.0
eth-hash==0.3.3
pycryptodome==3.19.0
pysha3==1.0.2
web3==5.31.4